.jumbotron
  %h2 Are you new customer?
  %p.lead
    Please, let us some information about you

  .status_messages_container
  = render 'customers/form'
  
= content_for(:javascript_code) do
  CustomerForm.init();  
